<ng-container [formGroup]="form">
    <form>
        <select aria-label="civilite" formControlName="civilite">
            <option value="Civilité" disabled selected>-- Civilité --</option>
            <option value="Mr">Mr</option>
            <option value="Mrs">Mme</option>
        </select>
        <div><input type="text" formControlName="nom" placeholder="Nom" /></div>
        <div><input type="text" formControlName="prenom" placeholder="Prénom" /></div>
        <div><input type="text" formControlName="adresse" placeholder="Adresse" /></div>
        <div><input type="text" formControlName="cp" placeholder="Code Postal" /></div>
        <div><input type="text"  formControlName="ville" placeholder="Ville" /></div>
        <div><input type="text"  formControlName="pays" placeholder="Pays" /></div>
        <div><input type="text"  formControlName="id" placeholder="Identifiant" /></div>
        <div><input type="text"  formControlName="mail" placeholder="Email" /></div>
        <div><input type="password"  placeholder="Mot de passe" /></div>
        <div><input type="password"  placeholder="Comfirmez le mot de passe" /></div>
        <div><button type="button">Valider</button></div>
    </form>
</ng-container>